@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
header {
	background-image: url(banner-ph.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.240);
	margin-bottom: 5px;
}

.titulo-principal-home {
	text-align: center;
	font-size: 2em;
	margin: 0 0 1em;
	clear: left;
}

.imagembeneficios {
	width: 60%;
}

.principal {
	padding: 3em 0;
	line-height: 1.3em;
	/* background-color: #FEFEFE; */
	width: 940px;
	margin: auto;
}

.principal p {
	margin: 0 0 1em;
}

.principal strong {
	font-weight: bolder;
}

.principal em {
	font-style: italic;
}

.navalha {
	width: 175px;
	margin: 0 20px 20px 0;
	border: 1px solid rgb(0, 0, 0);
	box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.300);
	float: left;
}

.mapa {
	padding: 3em 0;
	/* background: linear-gradient(#fefefe, #707070); */
}

.iframe-mapa {
	width: 940px;
	margin: 0 auto;
	border: 2px solid #FEFEFE;
	box-shadow: 0px 3px 5px #0000004d;
}

.mapa p {
	margin: 0 0 2em;
	text-align: center;
}

.video {
	width: 560px;
	margin: 1em auto;
}

.section-planos h3 {
	padding: 1em 0;
}

.article-planos {
	display: flex;
}

.plano img {
	width: 50%;
	margin: auto;
}

.plano {
	display: flex;
	flex-direction: column;
	box-shadow: 2px 1px 5px #0000004d;
	width: 300px;
	height: 420px;
	margin: 0px auto 20px;
	padding: 20px;
	opacity: 0.7;
}

#plano-beta {
	background-color: #497396;
	border: 1px solid #2a567a;
	border-radius: 5px;
}

#plano-alfa {
	background-color: #96765b;
	border: 1px solid #ad5913;
	border-radius: 5px;
}

#plano-beta:hover {
	border: 2px solid #8fc8f7;
	box-shadow: 0px 0px 20px #4183b9;
	opacity: 1;
	transition: 0.5s;
}

#plano-alfa:hover {
	border: 2px solid #f7b27b;
	box-shadow: 0px 0px 20px #ad5913;
	opacity: 1;
	transition: 0.2s;
}

.plano h4, p, ul {
	text-align: center;
}

.plano ul, p:not(.p-disclaimer) {
	line-height: 1.5em;
}

.plano p {
	font-weight: 600;
	margin: 0px 0px 10px 0px;
}

.plano h4 {
	font-size: 1.75em;
	font-weight: bolder;
}

.p-disclaimer {
	color: rgb(54, 54, 54);
	font-size: 0.7em;
	margin: 0px 0px 10px 0px;
}

.preco {
	font-family: 'Anton', sans-serif;
	font-size: 3em;
	padding: 10px 10px 0px 10px;
	color: #FEFEFE;
	text-shadow: 2px 0px 3px rgba(0, 0, 0, 0.438);
}

.caixa {
	position: relative;
	width: 940px;
	height: 280px;
	margin: 0 auto;
}

nav {
	position: absolute;
	top: 110px;
	right: 0;
}

nav li {
	display: inline;
	margin: 0 0 0 15px;
	font-family: 'Anton', sans-serif;
}

nav a {
	text-transform: uppercase;
	color: #FEFEFE;
	font-weight: bold;
	font-size: 2.5em;
	text-decoration: none;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.596);
}

nav a:hover {
	color: #b97e10;
}

.produtos {
	width: 940px;
	margin: 0 auto;
	padding: 50px 0;
}

.produtos li {
	display: inline-block;
	text-align: center;
	width: 30%;
	vertical-align: top;
	margin: 0 1.5%;
	padding: 30px 20px;
	box-sizing: border-box;
	border: 2px solid #000000;
	border-radius: 10px;
}

.produtos li:hover {
	border-color: #C78C19;
}

.produtos li:active {
	border-color: #088C19;	
}

.produtos li:hover h2 {
	font-size: 34px;
}

.produtos h2 {
	font-size: 30px;
	font-weight: bold;
}

.produto-descricao {
	font-size: 18px;
}

.produto-preco {
	font-size: 22px;
	font-weight: bold;
	margin-top: 10px;
}

footer {
	text-align: center;
	background: url("bg.jpg");
	padding: 40px 0;
	box-shadow: 0px -3px 5px rgba(0, 0, 0, 0.240);
}

.copyright {
	color: #FFFFFF;
	font-size: 13px;
	margin: 20px 0 0;
}

/* Página de contato */
.contato {
	width: 940px;
	margin: 40px auto;
}

.contato label, .input-group legend {
	display: block;
	margin: 0 0 5px;
	font-size: 20px;
}

.campo-padrao, textarea {
	display: block;
	margin: 0 0 30px;
	padding: 10px 20px;
	width: 50%;
	border: 1px solid #aaa;
}

.input-group {
	margin: 0 0 20px;
}

.newsletter {
	margin: 0 0 20px;
}

.botao {
	margin: 20px 0 0;
	width: 30%;
	padding: 10px 20px;
	font-size: 24px;
	display: inline-block;
	background: orange;
	color: white;
	border: none;
	border-radius: 5px;
	transition: 1s;
}

.botao:hover {
	cursor: pointer;
	transform: scale(1.2);	
}

.funcionamento {
	width: 940px;
	margin: 0 auto 40px;
}

table {
	margin: 10px 0 0;
}

th  {
	background: #777777;
	color: #FFFFFF;
}


td, th {
	border: 1px solid #000000;
	padding: 5px 20px;
}

main {
	font-family: 'Montserrat', sans-serif;
}

.main-home {
	background: linear-gradient(#FEFEFE, #707070);
}
form {
	margin: 40px 0px 0px 0px;
	padding: 20px;
}
form label, form legend {
	font-size: 20px;
	display: block;
	margin: 0px 0px 10px;
}
.input-comum {
	display: block;
	margin: 0px 0px 20px;
	padding: 10px 25px;
	width: 50%;
}
.checkbox {
	margin:20px 0px;
}
form table {
	margin:20px 0px;
	font-family: 'Times New Roman', Times, serif;
}
thead {
	font-weight: bold;
}
tbody > tr:nth-child(2n-1) {
	background-color: #f8be51;
}
#comentarios {
	margin-top: 20px;

}
#data {
	font-size: 20px;
	font-family: 'Times New Roman', Times, serif;
	display: block;
	margin: 10px 0px 10px;
	width: 17%;
}
.enviar {
	width: 40%;
	padding: 15px 0px;
	background-color: #d89211;
	text-transform: uppercase;
	font-weight: bold;
	color: white;
	text-shadow: 1px 1px 2px #0000009d;
	font-size: 18px;
	box-shadow: 2px 2px 5px #0000009d;
	border: none;
	border-radius: 7px;
	cursor: pointer;
	margin-left: 8%;
}
.enviar:hover {
	background-color: #b97e10;
	transition: .3s all;
	transform: scale(1.1);
}
/* mobile devices */
@media screen and (max-width: 450px) {
	main, .caixa, .principal, .mapa-conteudo, .video {
		width: auto;
	}
	
	.caixa ul {
        text-align: center;
    }

    nav {
        position: static;
    }

    .lista-beneficios, .imagem-beneficios {
        width: 100%;
    }
}